*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

main {
  display: block;
}